body {
  background-color: #999999;
  width: 100%;
  height: auto;
  font-family: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}



h1 {
  font-family: "bree",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2em;
}

h2 {
  font-family: 'bree', sans-serif;
  letter-spacing: 2px;
}

h3 {
  font-family: 'bree', sans-serif;
}

h4 {
  font-family: 'bree', sans-serif;
  font-weight: 400;
  font-size: 20pt;
}

h5 {
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'bree', sans-serif;
}

.navlist {
  width: 100%;
  margin: auto;
  text-align: center;
  height: auto;
}

.jumbotron {
  max-width: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
  height: auto;
} 
}

.jumbotron h1 {
  margin-bottom: 30px;
}

.jumbotron img {
  max-width: 750px;
  position: center;
}

.jumbotron ul {
  margin-bottom: 10px;
  margin-top: 5px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ff6600;
  max-width: 100%;
  text-align: center;

}


.intro {
  color: #333;

}


.heading {
  border:2px solid #333;
  background-color: #333;
  margin: auto;
  color: #FF6600;
  font-size: 1em;
}


.info {
  text-align: left;
  margin: 0px 40px;
  padding-bottom: 40px;
  margin-top: 20px;
  
  display: block;
}

.info h3 {
  margin-bottom: 20px;
  font-size: 2em;
}

.info h4 {
  margin-bottom: 10px;
}

.info ul {
  font-family: "bree";
  line-height: 250%;
  margin-left: 20px;
  list-style-type: square;
}

.info li {
  color: #ff3300;
  font-size: 14pt;
}

li span {
  color: #333;
}

.info p {
  line-height: 160%;
  font-size: 16pt;
  font-family: "bree";
  color: #333;
}

.info a {
  color: #ff3300;
}

.info img {
  max-width: 100%;
  margin: auto;
  display: block;
  margin-bottom: 50px;
  height: auto;
}

.spel {
  width: 100%;
  height: auto;

}

.spel i {
  float: right;
  clear: right;
  margin: auto;
  color: #555;
}

.spel h2 {
  border:2px solid #333;
  background-color: #333;
  color: #FF6600;
  padding: 20px 30px;
}

.spel p {
  text-align: center;
  font-size: 10pt;

  border:2px solid #333;
  background-color: #333;
  color: #FF6600;
}

.event {
  margin: auto;
  background-color: #333;
  padding: 10px;
  line-height: 150%;
}

.event h4 {
  color: #ff6600;
  text-align: center;
  margin-bottom: 10px;
  font-size: 14pt;
}

.event h5 {
  color: #ff6600;
  text-align: left;
}

.event a {
  color: #ff3300;
}

.event p {
  color: #999;
}


.ein {
  margin-top: 20px;
  height: auto;
}

.ein h3 {
  padding-bottom: 20px;
  font-size: 2em;
}

.ein h4 {
  text-decoration: 1px solid;
  font-size: 16pt;
  margin-bottom: 5px;
  text-decoration: 1px solid;
}

.ein h5 {
  font-size: 16pt;
}

.ein p {
  font-size: 14pt;
  line-height: 150%;
}

.ein a{
  color: #ff3300;
}

.gMap {
  margin: auto;
}



.ledord {
  margin: auto;
  width: 100%
  height: auto;
  background-color: #ff6600;
  }


.ledord p {
  font-size: 18pt;
  padding: 20px 40px;
  text-align: left;
}

.people {
  background-color: #333;
  color: #ff6600;
  margin: auto;
  height: auto;
  padding: 10px;
  text-align: center;
}

.people h3 {
  color: #ff3300;
}

.people a {
  color: #ff3300;
  font-size: 14px;
}

.kontakt {
  color: #333;
  margin-top: 20px;
  margin-left: 20px;
  line-height: 150%;
  vertical-align: center;

}

.kontakt h3 {
  font-size: 2em;
  margin-bottom: 10px;
}

.kontakt p{
  font-size: 16pt;
  line-height: 150%;
}

.lista2 a {
  color: #ff3300;
  font-size: 18pt;
  margin: auto;
  text-decoration: none;
}

.bg3 {
  height: 300px;
  background-image: url("../img/grey-bg.png");
  background-repeat: no-repeat;
  max-width: 100%;
  background-position: bottom right;
  margin-bottom: 0; 
}

.icon {
  font-size: 5em;
}

.icon a {
  color: #ff3300;
  margin: 30px;
}


.listan {
  margin-left: 30px;
}

.listan h4 {
  font-size: 16pt;
  margin-bottom: 30px;
  margin-top: 20px;
}

.listan ul {
  margin-left: 20px;
  list-style-type: square;
}

.listan li {
  margin-bottom: 10px;
  font-size: 14pt;
  line-height: 200%;
}

.navcontainer {
  margin: auto;
  width: 30%;
  background-color: #333;
}

#navlist li
{
display: inline;
list-style-type: none;
padding-right: 30px;
position: center;
width: auto;
font-size: 16pt;
}

#navlist a {
  color: #333333;
  position: relative;
  text-decoration: none;
  font-size: 16pt;
}

#navlist a:hover {
  color: #000;
  }

#navlist a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff3300;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#navlist a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}




/* STREAM CSS */

.stream {
  height: auto;
  background-image: url("../img/tabletop_rpg.png");
  background-width: 100%;
  background-size: 100%;
  background-height: 100%;
}

.stream iframe {
  margin: 0 auto;
  display: block;
}







.frame {
  margin: 0 auto;
  max-width: 100%; }
  .frame:after {
    content: "";
    display: table;
    clear: both; }

[class*='bit-'] {
  float: left;
  padding: 0.3em; }

.bit-1 {
  width: 100%; }

.bit-2 {
  width: 50%; }

.bit-3 {
  width: 33.33333%; }

.bit-4 {
  width: 25%; }

.bit-5 {
  width: 20%; }

.bit-6 {
  width: 16.66667%; }

.bit-7 {
  width: 14.28571%; }

.bit-8 {
  width: 12.5%; }

.bit-9 {
  width: 11.11111%; }

.bit-10 {
  width: 10%; }

.bit-11 {
  width: 9.09091%; }

.bit-12 {
  width: 8.33333%; }

.bit-25 {
  width: 25%; }

.bit-40 {
  width: 40%; }

.bit-60 {
  width: 60%; }

.bit-75 {
  width: 75%; }

@media (max-width: 30em) {
  .bit-1 {
    width: 100%; }
  .bit-2 {
    width: 100%; }
  .bit-3 {
    width: 100%; }
  .bit-4 {
    width: 100%; }
  .bit-5 {
    width: 100%; }
  .bit-6 {
    width: 100%; }
  .bit-7 {
    width: 100%; }
  .bit-8 {
    width: 100%; }
  .bit-9 {
    width: 100%; }
  .bit-10 {
    width: 100%; }
  .bit-11 {
    width: 100%; }
  .bit-12 {
    width: 100%; } }

@media (min-width: 30em) and (max-width: 50em) {
  .bit-4, .bit-6, .bit-8, .bit-10, .bit-12 {
    width: 50%; }
  .bit-1, .bit-2, .bit-3, .bit-5, .bit-7, .bit-9, .bit-11 {
    width: 100%; } }

@media (min-width: 50em) and (max-width: 68.75em) {
  .bit-2, .bit-7 {
    width: 100%; }
  .bit-4, .bit-8, .bit-10, .bit-12 {
    width: 50%; } }

.box {
  background: #FCD920;
  font-family: "Futura", sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 20px 0; }
  .box--new {
    background: #87D37C; }
