html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #bbb;
  font-family: "Bree Serif", serif;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Julius Sans One", sans-serif;
}

h2 {
  background-color: #333;
  border: 0.125em solid #333;
  color: #f33;
  letter-spacing: 0.125em;
  padding: 0.25em 0.25em;
}

h3 {
  margin-bottom: 0.5em;
}

p {
  font-size: 0.75em;
  line-height: 160%;
  margin-bottom: 1.2em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

a {
  color: #f33;
  position: relative;
  text-decoration: none;
}


hr {
  border: 0;
  border-top: 0.2em solid #f60;
  display: block;
  height: 0.2em;
  max-width: 100%;
  text-align: center;
}

ul {
  font-size: 0.75em;
  line-height: 160%;
  list-style-type: square;
  margin-left: 1em;
}

li {
  margin-bottom: 0.5em;
}
.text-align-center {
  text-align: center;
}
.hide {
  display: none;
  margin: 0;
  padding: 0;
}
a:not(.navigation-arrow)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1em;
  bottom: 0;
  left: 0;
  background-color: #f33;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:not(.navigation-arrow):hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.board {
  background-color: #bbb;
  color: #555;
}

.board-members {
  margin: auto;
  padding: 0.5em;
  text-align: center;
}

.board-members h3 {
  color: #333;
}

.footer {
  background-color: #333;
  color: #f33;
  font-family: "Julius Sans One", sans-serif;
  margin: 0;
  text-align: center;
}

.icon {
  font-size: 3em;
  text-align: center;
}

.icon a {
  color: #333;
  margin: 0.25em;
}

#img-d20 {
  margin: 2em auto;
  max-height: 15em;
}

.jumbotron {
  display: block;
}

.logo {
  height: auto;
  max-width: 20em;
  width: 100%;
}

.navigation-arrow {
  clear: right;
  color: #999;
  display: block;
  float: right;
  margin: auto;
  text-decoration: none;
  visibility: visible;
}

.navlist {
  font-family: "Julius Sans One", sans-serif;
  height: auto;
  margin: auto;
  padding-top: 0.5em;
  text-align: center;
  width: 100%;
}

.navlist.right {
  text-align: right;
}

.navlist li {
  display: inline;
  font-size: 1.8em;
  list-style-type: none;
  padding: 0 0.25em;
  text-align: center;
}

.navlist a {
  color: #333;
}
.navlist a.active {
  font-weight: bold;
  text-decoration: underline;
}

.navcontainer ul.navlist li a,
.section-header .section-headline {
  text-transform: uppercase;
}

.section-header {
  height: auto;
  width: 100%;
}

.text-w-bg {
  background-color: #333;
  color: #ddd;
  padding: 1em 2em;
}
.partners img {
  max-width: 80px
}
.rollstice-partners img {
  max-width: 80px;
  display: inline-block;
  vertical-align: middle;
}
.winter-rollstice-heading {
  font-size: 1.40em;
}
hr.in-text-line {
  border-color: #777;
}
.background-black {
  background-color: #00010f;
}
.border-none {
  border: none;
}
.margin-bottom-small {
  margin-bottom: 5px;
}
.margin-bottom-medium {
  margin-bottom: 10px;
}
.margin-bottom-large {
  margin-bottom: 15px;
}

@media only screen and (max-width: 425px) {
  .partners div {
    width: 25%;
  }
}
