body {
  background-color: #999;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

h1 {
  font-family: "bree", sans-serif;
  font-style: normal;
  font-weight: 500;
}

h2 {
  background-color: #333;
  border: 0.125em solid #333;
  color: #3ff;
  font-family: "bree", sans-serif;
  letter-spacing: 0.125em;
  padding: .25em .25em;
}

h3 {
  font-family: "bree", sans-serif;
}

h4 {
  font-family: "bree", sans-serif;
  font-weight: 400;
}

h5 {
  font-family: "Lato", sans-serif;
}

p {
  font-family: "bree", sans-serif;
  line-height: 160%;
  font-size: .75m;
  color: #333;
  margin-bottom: 1.2em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.jumbotron {
  display: block;
}

.navlist {
  height: auto;
  margin: auto;
  text-align: center;
  width: 100%;
}

hr {
  display: block;
  height: 0.2em;
  border: 0;
  border-top: 0.2em solid #f60;
  max-width: 100%;
  text-align: center;
}

.text {
  display: block;
  padding-bottom: 2em;
}

ul {
  font-family: "bree";
  line-height: 250%;
  margin-left: 1em;
  list-style-type: square;
}

.section-header {
  width: 100%;
  height: auto;
}

.navigation-arrow {
  clear: right;
  color: #555;
  float: right;
  margin: auto;
  text-decoration: none;
}

.text-w-bg {
  background-color: #3ff;
  padding: 1em 2em;
}

.people {
  background-color: #333;
  color: #ff6600;
  margin: auto;
  height: auto;
  padding: .5em;
  text-align: center;
}

.people a {
  color: #ff3300;
  font-size: .8em;
}

.kontakt {
  color: #333;
  margin-top: 1em;
  margin-left: 1em;
  line-height: 150%;
  vertical-align: center;
}

.kontakt h3 {
  font-size: 2em;
  margin-bottom: .5em; 
}

.kontakt p {
  font-size:  .8em;
  line-height: 150%;
}

.bg3 {
  height: 15em;
  background-image: url("../img/grey-bg.png");
  background-repeat: no-repeat;
  max-width: 100%;
  background-position: bottom right;
  margin-bottom: 0;
}

.icon {
  font-size: 2em;
}

.icon a {
  color: #f30;
  margin: 1.5em;
}

.listan {
  margin-left: 1.5;
}

.listan h4 {
  font-size: .8em;
  margin-bottom: 1.5em;
  margin-top: 1em;
}

.listan ul {
  margin-left: 1em;
  list-style-type: square;
}

.listan li {
  margin-bottom: .5em;
  font-size: .8em;
  line-height: 200%;
}

.navlist li {
  display: inline;
  font-size: 1.8em;
  list-style-type: none;
  padding-right: 1.5em;
  text-align: center;
}

.navlist a {
  color: #333;
  font-size: .8em;
  position: relative;
  text-decoration: none;
}

.navlist a:before {
     content: "";
     position: absolute;
     width: 100%;
     height: .1em;
     bottom: 0;
     left: 0;
     background-color: #3ff;
     visibility: hidden;
     -webkit-transform: scaleX(0);
     -ms-transform: scaleX(0);
     transform: scaleX(0);
     -webkit-transition: all 0.3s ease-in-out 0s;
     transition: all 0.3s ease-in-out 0s;
 }

 .navlist a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.footer {
  background-color: #333;
  color: #3ff;
  margin: 0;
  text-align: center;
}

#logo {
    height:25vh;
    width: auto;
}
